@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container{
  padding: 0 15px;
}

@media screen and (min-width: 1601px) {
  .container{
    max-width: 1500px ;
  }
}

@media screen and (max-width: 1600px) {
  .container{
    max-width: 1300px ;
  }
}

@media screen and (max-width: 1440px) {
  .container{
    max-width: 1144px;
  }
}